#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 800px;
    width: 800px;
}

.row {
    display: flex;

    flex: 1 1 auto;
}

/* base square formatting */
.square {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;

    border: 2px solid grey;

    background-color: white;
}
/* extra formatting for when square is darkened */
.darkened {
    background-color: black;
}